* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content:flex-start;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.drop{
  justify-content:center;
  margin-left: 900px;
  margin-top: 12px;
  
}
/* .lol{
  text-decoration-line: underline;
  border: #87ccfd82;
  color:#87ccfd82;
  border-color: aliceblue;
  gap:2rem;
  border-radius: 7px;

} */


.nav ul {
  padding: 0;
  margin: 0;
  /* Adjusted margin here */
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  background-color: #777;
}
